@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-silk: #fefefd;
  --bg-sand: #fdfbf7;
  --bg-[#F7F4EF]: #f7f4ef;
  --bg-[#EFECE6]: #efece6;
  --text-[#1F1A17]: #1f1a17;
  --taupe-[#958679]: #958679;
  --gold-[#DBCEB3]: #dbceb3;
}

body {
  background-color: #F7F4EF;
  color: #1F1A17;
}